form {
    background-color: aquamarine;
    width: 400px;
    margin: auto;
    padding: none;
}
.context {
    border: 1px solid black;
    margin: 100px;
    text-align: center;
}
.context h2{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.context .input_width {
    width: 250px;
    padding: 5px
}
.context button{
    width: 250px !important;
}
.context .box{
    width: 324px;
    margin: auto;
    justify-content: flex-start;
}
.box input{
    text-align: left;
    position: absolute;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-left : 0px;
}
.box p{
    margin-left: 30px;
}

