form{
    box-sizing: border-box;
    width: 250px;
    margin: 10px;
    padding-bottom: 100px;
    border-radius: 3px;
}
form h1{
    box-sizing: border-box;
    padding: 20px;
}
input {
    margin: 5px 20px;
    width:  200px;
    padding: 7px 0;
    border-bottom: solid 2px;
    background: rgb(255, 255, 255);
    background-position: -100px;
    background-size: 100px 100%;
    background-repeat: no-repeat;
    color: none;
}
button {
    width: none;
    padding: none;
    margin: 20px;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    margin-left: 25px;

}